.actorList {
  width: 1000px;
  display: inline;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 25px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #00f;
  text-decoration: underline;
}
